{% extends "../base.html" %}
{% load static  %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ product.image.url }}" role="img" aria-label="Placeholder: Thumbnail" 
              preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ product.title }}</h1>
                <p><span class="lead">{{ product.author }}</span> (Author)</p>
                <p>{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Tutar</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">{{ product.price }} tl</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Adet</label>
                                <select id="select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>

                            </div>
                            <div class="col-6 text-end">
                            <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm">Sepete
                                    Ekle</button>
                                    <button type="button" id="add-button" value="{{product.id}}" class="btn btn-light fw500">Favorilere 
                                    Ekle</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

<script>
       $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}